<a href="https://colab.research.google.com/github/DESPI-Cj/OOP-58001/blob/main/Hands_on_No_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class RegularPolygon:
  def __init__(self, side):
    self.side = side
class Square(RegularPolygon):
  def area(self):
    return self.side*self.side*0.433

In [ ]:
class Person:
  def __init__(self, name, pre, mid, fin):
    self.__name = name
    self.__pre = pre
    self.__mid = mid
    self.__fin = fin
    global avg
    avg = (self.__pre+self.__mid+self.__fin)/3

  def Display(self):
    print("Student Name:", self.__name)
    print("Term Grade:", round(avg, 2))
  

class Student1(Person):
  pass
class Student2(Person):
  pass
class Student3(Person):
  pass

student1 = Student1("Despi", 97, 93, 95)
student1.Display()
student2 = Student2("Valero", 100, 92, 99)
student2.Display()
student3 = Student3("Guzman", 75, 75, 80)
student3.Display()

Student Name: Despi
Term Grade: 95.0
Student Name: Valero
Term Grade: 97.0
Student Name: Guzman
Term Grade: 76.67

In [ ]:
class Person:
  def __init__(self, name, pre, mid, fin):
    self.name = name
    self.pre = pre
    self.mid = mid
    self.fin = fin
   
  def Grade(self):
   return (self.pre + self.mid + self.fin)/3
    
  def Display(self):
    print("Student Name:", self.name)
    print("Term Grade:", self.Grade())

class Student1(Person):
  pass
class Student2(Person):
  pass
class Student3(Person):
  pass

student1 = Student1("Despi", 97, 93, 95)
student1.Display()
student2 = Student2("Valero", 60, 75, 80)
student2.Display()
student3 = Student3("Guzman", 75, 75, 80)
student3.Display()

Student Name: Despi
Term Grade: 95.0
Student Name: Valero
Term Grade: 71.66666666666667
Student Name: Guzman
Term Grade: 76.66666666666667